@media only screen and (max-width: 1025px){

    .nabvar-parent {
        display: none;
    }
    .mobile-icons span i {
        display: block;
    }
    .header_phone p {
        display: none;
    }
    .head_btn button {
        display: none;
    }
    .col-md-6.products_searching {
        width: 100%;
    }
    .col-md-4.header_phone.d-flex {
        position: absolute;
        top: 11px;
        right: 0;
    }
    .header_phone {
        justify-content: end;
    }
    .col-md-2.logo {
        text-align: center;
    }
    .mobile-icons span i {
        position: absolute;
        left: 10px;
        top: 9px;
    }
    
}